<%- include('../partials/header') %>
<%- include ('../partials/main_nav') %>
<h2>Add Assignment</h2>
<form method="POST" action="/assignments/add">
  <div>
    <label>Assignment Title: <input name="assignmentTitle" required /></label>
  </div>
  <div>
    <label>Class: <input name="class" required /></label>
  </div>
  <div>
    <label>Project Explanation:<br>
      <textarea name="projectExplanation" required></textarea>
    </label>
  </div>
  <div>
    <label>Project Members (comma separated): <input name="projectMembers" required /></label>
  </div>
  <div>
    <label>Year of Completion: <input name="yearOfCompletion" type="number" required /></label>
  </div>
  <button type="submit">Add Assignment</button>
</form>
<%- include('../partials/footer') %>
server/views/Assignments/list.ejs
xml
<%- include('../partials/header') %>
<h2>Assignments</h2>
<a href="/assignments/add">Add New Assignment</a>
<ul>
  <% assignments.forEach(a => { %>
    <li>
      <strong><%= a.assignmentTitle %></strong> (<%= a.class %>), Year: <%= a.yearOfCompletion %>
      <br/>
      <small>Partners: <%= a.projectMembers.join(', ') %></small>
      <br/>
      <em><%= a.projectExplanation %></em>
      <br/>
      <a href="/assignments/edit/<%= a._id %>">Edit</a>
      <a href="/assignments/delete/<%= a._id %>">Delete</a>
      <hr/>
    </li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>